@using CAPS.ViewModels
@model IEnumerable<CAPS.ViewModels.PawnShopsViewModel>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pawnShop in Model)
        {
            <tr>
                <td>
                    
                    <a href="@Url.Action("Details", "PawnShops", new { pawnShopId = pawnShop.Id })">@pawnShop.Name</a>
                </td>
                <td>
                    
                    <a href="@Url.Action("OpenMap", "PawnShops", new { locationUrl = pawnShop.LocationUrl })" target="_blank">
                        @pawnShop.City
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "PawnShops", new { pawnShopId = pawnShop.Id })">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
